<section>

</section>

<section class="home_products">
  <div class="home_products-container">
    {% if node.field_title_2.value %}
      <h2 class="home_products-title">{{ node.field_title_2.value }}</h2>
    {% endif %}

  </div>
</section>

<section class="home_benefits">
  <ul class="home_benefits-list">
    <li>
      <div class="home_benefits-container">
        <div>
          <h3>title</h3>
          <div>text</div>
          <a>link</a>
        </div>
        <img src="" alt="">
      </div>
    </li>
  </ul>
</section>


