<section class="contact__form">
  <div class="contact__form-container">
    <h1 class="contact__form-title">Contact us</h1>
    {% if node.field_subtitle.value %}
      <p class="contact__form-subtitle">{{ node.field_subtitle.value }}</p>
    {% endif %}

  </div>
</section>
