<section>

</section>

<section class="home_products">
  <div class="home_products-container">
    {% if node.field_title_2.value %}
      <h2 class="home_products-title">{{ node.field_title_2.value }}</h2>
    {% endif %}

  </div>
</section>


