:root {
    --light: #E9E4F0;
    --medium: #D3CCE3;
    --dark: #5D4B85;
}
body {
    background-color: var(--light);
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-variant-ligatures: none;
    font-weight: 400;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: none;
    -webkit-text-size-adjust: 100%;
    color: var(--dark);
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
}
a {
    display: inline-block;
}

/* PARTIAL - HEADER ********************************/
header.header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--light);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header-links{
    display: flex;
    justify-content: center;
}