@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Playfair+Display:wght@400;500;600&display=swap');
:root {
  --light: #E9E4F0;
  --medium: #D3CCE3;
  --dark: #5D4B85;
}
body {
  background-color: var(--light);
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-variant-ligatures: none;
  font-weight: 500;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
}
a#main-content{
  display: block;
}

/* BACKGROUND COLOR */
.blog__content,
.home__products{
  background-color: var(--light);
}
.blog__header{
  background: linear-gradient(0.12turn, var(--medium), var(--light));
}

/* CONTAINER */
.blog__content-container,
.blog__header-container,
.carousel__container,
.home__benefits-container,
.home__products-container{
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
/* HEADER SPACING */
.blog__header{
  padding-top: 59px;
}

/* PRIMARY TITLE */
.blog__header-title,
.carousel__container-title{
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
}

/* SECONDARY TITLE */
.blog__content-txt h2,
.home__benefits-list li .home__benefits-container h3,
.home__products-title{
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* TERCIARY TITLE */
.blog__content-txt h3{
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* SUBTITLE */
.blog__content-txt h4{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* Font */
.blog__content-txt h4,
.blog__content-txt h3,
.blog__content-txt h2,
.blog__header-title,
.home__benefits-list li .home__benefits-container h3,
.carousel__container-title,
.home__products-title{
  font-family: 'Playfair Display', serif;
}

/* PARAGRAPH - LARGE */

/* PARAGRAPH - SMALL */
.blog__content-txt p,
.home__benefits-list li:nth-child(odd) .home__benefits-container p,
.carousel__container-p{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* List */
article#blog ol li,
article#blog ul li {
  margin: 0 0 12px;
  padding-left: 30px;
  position: relative;
}
article#blog ol li {
  counter-increment: inst;
}
article#blog ol li:before {
  content: '\e804';
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--dark);
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
article#blog ol li::before {
  content: counter(inst);
}

/* Primary */
.blog__content-txt,
.blog__header-title,
.home__benefits-list li:nth-child(odd) .home__benefits-container p,
.home__benefits-list li:nth-child(even) .home__benefits-container h3,
.carousel__container-title,
.home__products-title{
  color: var(--dark);
}

/* Secondary */
.home__benefits-list li:nth-child(odd) .home__benefits-container p,
.home__benefits-list li:nth-child(odd) .home__benefits-container h3{
  color: var(--light);
}

/* Center */
.home__products-title{
  text-align: center;
}

/* BUTTON */
.carousel__container-btn{
  padding: 8px 24px;
  border-radius: 60px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
}
/* Primary */
.carousel__container-btn{
  background-color: var(--dark);
  color: var(--light);
}
.carousel__container-btn:hover{
  background-color: var(--light);
  color: var(--dark);
}
/* Secondary */

/* FORMULARIO ********************************/
textarea,
input[type="email"],
input[type="text"] {
  background-color: rgba(241, 239, 245, 0.05);
  width: 100%;
  padding: 8px 16px 8px 40px;
  border-radius: 12px;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #F1EFF5;
  color: #F1EFF5;
}

/* PARTIAL - HEADER ********************************/
header.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--light);
  opacity: .5;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-links{
  display: flex;
  justify-content: center;
}

/* PAGE - HOMEPAGE ********************************/
@keyframes tonext { 75% {left: 0;} 95% {left: 100%;} 98% {left: 100%;} 99% {left: 0;} }
@keyframes tostart { 75% {left: 0;} 95% {left: -300%;} 98% {left: -300%;} 99% {left: 0;} }
@keyframes snap { 96% {scroll-snap-align: center;} 97% {scroll-snap-align: none;} 99% {scroll-snap-align: none;} 100% {scroll-snap-align: center;} }
.carousel {
  -ms-overflow-style: none;
  position: relative;
  perspective: 100px;
  height: 80vh;
}
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
}
.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.carousel__container{
  padding: 44px 20px;
}
.carousel__container-p{
  margin: 14px 0 32px;
}
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}
.carousel__navigation {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
}
.carousel__navigation-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__navigation-item {
  display: flex;
  padding: 0 0 0 8px;
}
.carousel__navigation-button {
  display: flex;
  min-width: 14px;
  width: 14px;
  height: 14px;
  background-color: var(--light);
  border-radius: 50%;
  font-size: 0;
}
.home__products-container{
  padding: 84px 20px;
}
.home__products-title{
  margin: 0 0 44px;
}
.home__benefits-list{
  margin: 0;
  padding: 0;
}
.home__benefits-list li:nth-child(odd){
  background-color: var(--dark);
  color: var(--light);
}
.home__benefits-list li:nth-child(even){
  background-color: var(--light);
  color: var(--dark);
}
.home__benefits-container{
  padding: 84px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__benefits-list li:nth-child(even) .home__benefits-container{
  flex-direction: row-reverse;
}
.home__benefits-list li .home__benefits-container > div,
.home__benefits-list li .home__benefits-container img{
  width: 100%;
  max-width: 50%;
  height: auto;
}
.home__benefits-list li:nth-child(odd) .home__benefits-container > div{
  padding-right: 44px;
}
.home__benefits-list li:nth-child(even) .home__benefits-container > div{
  padding-left: 44px;
}

/* PAGE - BLOG ********************************/
.blog__header-container{
  padding: 84px 20px;
}
.blog__content-container{
  padding: 64px 20px;
  display: flex;
}
.blog__content-container > div{
  width: 50%;
}
.blog__content-img{
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 44px;
}
