:root {
  --light: #E9E4F0;
  --medium: #D3CCE3;
  --dark: #5D4B85;
}
body {
  background-color: var(--light);
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-variant-ligatures: none;
  font-weight: 400;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
}

/* BACKGROUND COLOR */
.home_products{
  background-color: var(--light);
}

/* CONTAINER */
.home_benefits-container,
.home_products-container{
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

/* PRIMARY TITLE */
.home_products-title{
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* SECONDARY TITLE */
/* TERCIARY TITLE */
/* SUBTITLE */
/* PARAGRAPH - LARGE */
/* PARAGRAPH - SMALL */

/* List */
article#blog ol li,
article#blog ul li {
  margin: 0 0 12px;
  padding-left: 30px;
  position: relative;
}

article#blog ol li {
  counter-increment: inst;
}

article#blog ol li:before {
  content: '\e804';
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--dark);
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article#blog ol li::before {
  content: counter(inst);
}

/* Primary */
.home_products-title{
  color: var(--dark);
}

/* Center */
.home_products-title{
  text-align: center;
}

/* BUTTON */
/* Primary */
/* Secondary */

/* FORMULARIO ********************************/
textarea,
input[type="email"],
input[type="text"] {
  background-color: rgba(241, 239, 245, 0.05);
  width: 100%;
  padding: 8px 16px 8px 40px;
  border-radius: 12px;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #F1EFF5;
  color: #F1EFF5;
}

/* PARTIAL - HEADER ********************************/
header.header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--light);
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-links{
  display: flex;
  justify-content: center;
}

/* PAGE - HOMEPAGE ********************************/
.home_products-container{
  padding: 84px 20px;
}
.home_products-title{
  margin: 0 0 44px;
}
.home_benefits-list{
  margin: 0;
  padding: 0;
}
.home_benefits-list li:nth-child(odd){
  background-color: var(--dark);
  color: var(--light);
}
.home_benefits-list li:nth-child(even){
  background-color: var(--light);
  color: var(--dark);
}
.home_benefits-container{
  padding: 84px 20px;
}
